/.gradle/
/build/
/build-cache/
/gradle/
/target/
/out/
/classes/
*.log
*.log.*
*.bat
gradlew
/.idea/
*.iml
/bin/
/logs/
/api/*.iml
/api/*.bat
/api/target/
/api/logs/
/api/out
/api/.gradle
/api/common/*.iml
/api/common/*.bat
/api/common/target/
/api/common/logs/
/api/common/out
/api/common/.gradle
/api/mp/*.iml
/api/mp/*.bat
/api/mp/target/
/api/mp/logs/
/api/mp/out
/api/mp/.gradle
/api/sns/*.iml
/api/sns/*.bat
/api/sns/target/
/api/sns/logs/
/api/sns/out
/api/sns/.gradle
